body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toggle-annal svg {
  transform: rotate(90deg);
}

.toggle-annal .annal-box {
  height: fit-content;
}

/* PROBLEM -- any way to NOT block color below? maybe.... gradient to white??*/
.tuxedo-mask {
  /* background: linear-gradient(to right,transparent, 10%, black); */
  mask-clip: fill-box;
  mask-image: linear-gradient(to right,black, 90%, transparent);
  /* background-clip: fill-box; */
}

/* RANDOM COLORS BELOW -- CHANGE LATER!! */
.birth-news {
  color: #1a1e45;
}

.death-news {
  color: #6408c5;
}

.marriage-news {
  color: #a89c1a;
}

.title-news {
  color: #df2aa6;
}

.house-news {
  color: #66194f;
}

.gene0, .gene3, .gene6, .gene9, .gene12, .gene15, .gene18 {
  color: #4456d4;
}

.gene1, .gene4, .gene7, .gene10, .gene13, .gene16 {
  color: #1c692b;
}

.gene2, .gene5, .gene8, .gene11, .gene14, .gene17 {
  color: #b11268;
}

.gene0, .gene2, .gene4, .gene6, .gene8, .gene10, .gene12, .gene14, .gene16, .gene18 {
  font-weight: bold;
}

